html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.size {
    font-size: 34px;
}

.mg-0-auto {
    margin: 0 auto;
}

.BG-Blue {
    background-color: #00679e !important;
}

.DG {
    display: grid !important;
}

.DF {
    display: flex !important;
}

.v-middle {
    vertical-align: middle !important;
}