@{
    ViewData["Title"] = "Página inicial";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p><strong>Sistema Telemedicina new card, realizando testes....</strong></p>
<p>@ViewData["Conteudo"]</p>
<p>@ViewData["email"]</p>
